<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.employeemanagementsystem.Dao.EmployeeMapper">

    <insert id="insertEmployee" parameterType="com.example.employeemanagementsystem.Model.Employee">
        insert into Employee(employeeId,employeeName,gender,age,baseSalary,locationId) values (#{employee.employeeId},#{employee.employeeName},#{employee.gender},#{employee.age},#{employee.baseSalary},#{employee.locationId})
    </insert>
    <update id="UpdateEmployee" parameterType="com.example.employeemanagementsystem.Model.Employee">

        update Employee  set employeeName=#{employee.employeeName},gender=#{employee.gender},age=#{employee.age},baseSalary=#{employee.baseSalary},locationId=#{employee.locationId} where employeeId=#{employee.employeeId}
    </update>


    <select id="selectEmployee" resultType="com.example.employeemanagementsystem.Model.Employee">

        select  * from Employee

    </select>

    <select id="selectEmployeeByOne" resultType="com.example.employeemanagementsystem.Model.Employee"
            parameterType="com.example.employeemanagementsystem.Model.Employee">

        select  * from Employee where employeeId=#{employee.employeeId}

    </select>

    <delete id="deleteEmployee"
            parameterType="com.example.employeemanagementsystem.Model.Employee" >

        delete from Employee where employeeId=#{employee.employeeId}

    </delete>


</mapper>